{% extends 'base.html.twig' %}

    {% block title %}
        FizzBuzz {{ text }}
    {% endblock %}

    {% block body %}
        <h1>
           Your FizzBuzz is {{ text }}!
        </h1>
        <p>The number you chose was: {{ number }}</p>
    {% endblock %}